﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#f4f4f4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
#UsersGrid .k-button {
    background: transparent!important;
    border: none!important;
    padding: 0px;
    text-align: center;
}
#UsersGrid .k-button:focus:not(.k-state-disabled):not([disabled]) {
    -webkit-box-shadow: none;
}
#UsersGrid span.k-dropdown-wrap,#UsersGrid .text-box {
    width: 150px;
}

#UsersGrid .k-grid td{
    padding:3px!important;
    height:30px!important;
}
#UsersGrid td:nth-child(2),#UsersGrid td:nth-child(3),#UsersGrid td:nth-child(5),#UsersGrid td:nth-child(6){
    text-align:center!important;
}