﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>MAGMA | Admin Console</title>
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@

    @*<script src="~/Scripts/jquery/jquery.min.js"></script>
        <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>*@
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/chart.js/Chart.min.js"></script>*@
    @*<script src="~/Scripts/sparklines/sparkline.js"></script>*@
    @*<script src="~/Content/css/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Content/css/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/Scripts/moment/moment.min.js"></script>
    <script src="~/Content/css/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/css/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
    <script src="~/Content/css/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Content/js/adminlte.js"></script>
    <script src="~/Content/js/pages/dashboard.js"></script>
    <script src="~/Content/js/demo.js"></script>
    <script src="~/Content/css/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Content/css/toastr/toastr.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/HTTP/HttpClient.js")"></script>
    <script src="@Url.Content("~/Scripts/Utility/Utility.js")"></script>

    <link rel="stylesheet" href="~/Content/css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Content/css/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/jqvmap/jqvmap.min.css" />
    <link rel="stylesheet" href="~/Content/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/css/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Content/css/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/css/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="~/Content/css/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Content/css/toastr/toastr.min.css">
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    <style>

        .nav-header {
            color: rgb(107,79,71) !important;
            font-weight: 600 !important;
        }

        .sidebar a {
            color: rgb(107,79,71) !important;
        }

        .sidebar-dark-light {
            background-color: #91DEFF;
        }

        .nav-link.active {
            background-color: rgb(231,227,225);
            color: rgb(107,79,71);
            border-bottom: solid 1px rgb(232,213,202);
            border-top: solid 1px rgb(232,213,202);
            border-left: solid 3px rgb(107,79,71);
        }

        .brand-link {
            border-bottom: 1px solid #4b545c;
            color: seagreen !important;
            padding-left: 5px !important;
        }

        .content-wrapper {
            background: #ffffff !important;
            margin-top: -15px !important;
        }

        .btn-tool {
            color: rgb(118,180,176) !important;
        }

        .modal-content {
            border-radius: 1rem !important
        }

        .white-btn {
            font-size: 15px !important;
            padding: 8px 59px !important;
            border-radius: 0.5rem;
            text-align: center;
            margin-right: 0px;
            color: #ffc631;
            background-color: transparent;
            color: #699e9b;
            font-weight: 500;
            height: auto;
            border: none;
        }

            .white-btn:hover {
                background-color: #e2e2d9 !important
            }

        .white-savecancel-btn {
            font-size: 15px !important;
            padding: 8px 35px !important;
            border-radius: 0.5rem;
            text-align: center;
            margin-right: 0px;
            color: #ffc631;
            background-color: transparent;
            color: #699e9b;
            font-weight: 500;
            height: auto;
            border: none;
        }

            .white-savecancel-btn:hover {
                background-color: #e2e2d9 !important
            }

        .colored-btn {
            font-size: 15px !important;
            padding: 8px 59px !important;
            border-radius: 0.5rem !important;
            text-align: center;
            margin-right: 10px;
            color: #000;
            background-color: #699e9b;
            font-weight: 500 !important;
            height: auto;
            margin-right: 0px !important;
            color: #fff !important;
            height: auto !important;
            border: none !important;
        }

        #confirmbox_optional .modal-dialog, #confirmbox .modal-dialog, #confirmSave_Box .modal-dialog {
            width: 28% !important;
        }

        #confirmbox_optional .modal-footer, #confirmbox .modal-footer, #confirmSave_Box .modal-footer {
            margin-bottom: 10px;
            margin-right: 10px;
            margin-top: 0px;
        }

        #confirmbox_optional .modal-header, #confirmbox .modal-header, #confirmSave_Box .modal-header {
            background: #b1a391;
            color: #3e3737;
        }

        .modal {
            align-self: center;
        }

        .modal-dialog {
            display: flex;
            align-items: center;
        }

        .k-loading-image {
            display: none !important;
        }
    </style>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        var CookBookLayout = {
            GetSectorDataList: "@Url.Action("GetSectorDataList", "Home")",
            ChangeSectorData: "@Url.Action("ChangeSectorData", "Home")",
            GetModulesByUserID: "@Url.Action("GetModulesByUserID", "Home")",
            GetUserPermissionsByModuleCode: "@Url.Action("GetUserPermissionsByModuleCode", "Home")",
            GetEXECOMUserDataList: "@Url.Action("GetEXECOMUserDataList", "Employee")",
            GetTransferLeaderShipRoleDataList: "@Url.Action("GetTransferLeaderShipRoleDataList", "Employee")",
            GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
             SaveEmployeeDataList: "@Url.Action("SaveEmployeeDataList", "Employee")",
        }
        var sectordata = [];
        var moduledata = [];
        var secname = "";

        $(function () {

            $('#pushmenuid').click(function () {
                bindlogo();
            });

            //$('#pushmenuid').focusin(function () {
            //    bindlogo();
            //});

            //$('#pushmenuid').focusout(function () {
            //    bindlogo();
            //});



            function bindlogo() {
                if ($('#logo').css('display') == 'none') {
                    $('#logo').css('display', 'block');
                    $('#shortlogo').css('display', 'none');
                }
                else {
                    $('#logo').css('display', 'none');
                    $('#shortlogo').css('display', 'block');
                }
            }

            $('#confirmSave_Box').on('shown.bs.modal', function (e) {
                $("#confirmSave_Ok").focus();
            });

            $('#confirmbox').on('shown.bs.modal', function (e) {
                $("#confirmOk").focus();
            });
        });

        $(document).keydown("keypress", function (e) {
            if (e.keyCode == kendo.keys.ESC) {
                $('#confirmSave_Box').modal('hide');
                $("#confirmbox").modal('hide');
                $("#confirmbox_optional").modal('hide');
                $("#confirmbox_warning").modal('hide');
                $('#confirmSave_Box1').modal('hide');
            }
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            var userID = 15;
            @*HttpClient.MakeRequest(CookBookLayout.GetSectorDataList, function (data) {
                var dataSource = data;
                sectordata = [];
                for (var i = 0; i < dataSource.length; i++) {
                    sectordata.push({ "value": dataSource[i].ID, "text": dataSource[i].SectorName, "SectorNumber": dataSource[i].SectorNumber });
                }
                @using HRIS.Data.UserData;
                @{
                    UserMasterResponseData userData = (UserMasterResponseData)Session["UserLoginDetails"];
                }
                secname = "@if (userData != null)
                           {
                              @userData.SectorName
                           }";
                userID = "@if (userData != null)
                           {
                              @userData.UserId
                           }";
                    populateSectorDataDropdown();
            }, null, false);

            HttpClient.MakeRequest(CookBookLayout.GetModulesByUserID, function (data) {
                var dataSource = data;
                moduledata = [];
                for (var i = 0; i < dataSource.length; i++) {
                    if (dataSource[i].MenuDisplay == true) {
                        moduledata.push({ "ModuleCode": dataSource[i].ModuleCode, "MenuDisplayName": dataSource[i].MenuDisplayName, "PageUrl": dataSource[i].PageUrl, "MenuHeading": dataSource[i].MenuHeading, "MenuParent": dataSource[i].MenuParent});
                    }
                }
                populateSideNavBar();
            }, { "userID": userID }, false);*@

        });

        @*function populateSectorDataDropdown() {
            var nav = $("#sectorlist");
            var navmmt2 = $("nav.mt-2 .sectormenu");
            var lhtml = "";
            var vSector = "";
            vSector = "<span class='nav-link' data-toggle='dropdown'>" + secname + "</span >";

            lhtml = "<li class='nav-header'>Select Sector</li>";
            for (sector of sectordata) {
                lhtml = lhtml + "\n" +
                        "     <li class='nav-item'>" +
                        "        <a class='nav-link' onclick=ChangeSector('" + sector.value + "')>" +
                        "        <i class='nav-icon'></i>" +
                        "        <p>" + sector.text + " </p>" +
                        "        </a>" +
                        "     </li>";
            }
            navmmt2.prepend(lhtml);
            nav.append(vSector);
        }

        function populateSideNavBar() {
            var navmmt2 = $("nav.mt-2 .sectormenu");
            var lhtml = "";
            var header = "";
            var parent = "";
            for (module of moduledata) {
                if (header != module.MenuHeading) {
                    if (parent != "") {
                        if (parent != "blank") {
                            lhtml = lhtml + " </ul></li>";
                        }
                    }
                    header = module.MenuHeading;
                    lhtml = lhtml + "<li class='nav-header'>" + header + "</li>";
                }
                if (parent != module.MenuParent && header == module.MenuHeading) {
                    if (parent != "") {
                        if (parent != "blank") {
                            lhtml = lhtml + " </ul></li>";
                        }
                    }
                    if (module.MenuParent == "null") {
                        parent = "blank";
                    } else {
                        parent = module.MenuParent;
                        lhtml = lhtml + "<li class='nav-item has-treeview'>" +
                            "    <a href='#' class='nav-link'>" +
                            "       <i class='nav-icon fas fa-copy'></i>" +
                            "       <p>" + module.MenuParent + " <i class='fas fa-angle-right right'></i></p>" +
                            "    </a>" +
                            "    <ul class='nav nav-treeview'>";
                    }
                }
                var link = module.PageUrl;
                if (module.MenuParent == "null") {
                    parent = "blank";
                    lhtml = lhtml + "\n" +
                        "       <li class='nav-item'>" +
                        "           <a href= " + link + " class='nav-link'>" +
                        "                <i class='nav-icon fas fa-copy'></i>" +
                        "                <p>" + module.MenuDisplayName + "</p>" +
                        "           </a>" +
                        "       </li>";
                } else {
                    parent = module.MenuParent
                    lhtml = lhtml + "\n" +
                        "       <li class='nav-item'>" +
                        "           <a href=" + link + " class='nav-link'>" +
                        "                <i class='far nav-icon'></i>" +
                        "                <p>" + module.MenuDisplayName + "</p>" +
                        "           </a>" +
                        "       </li>";
                }

            }
            navmmt2.append(lhtml);

        }

        function ChangeSector(newSectorID) {
            Utility.Page_Alert_Save("Make sure to save all the unsaved work. The action will re-load the application and discard the unsaved changes. Click 'Proceed' to Switch the Sector or click 'Cancel' to stay on the same Sector", "Swith Sector", "Proceed", "Cancel",
                function () {
                    HttpClient.MakeRequest(CookBookLayout.ChangeSectorData, function (result) {
                        if (result == false) {
                            alert("Oops! Something went wrong. Please reachout to IT Helpdesk for further assistance");
                        }
                        else {
                            HttpClient.MakeRequest(CookBookLayout.GetSectorDataList, function (data) {
                                var dataSource = data;
                                sectordata = [];
                                for (var i = 0; i < dataSource.length; i++) {
                                    sectordata.push({ "value": dataSource[i].ID, "text": dataSource[i].SectorName, "SectorNumber": dataSource[i].SectorNumber });
                                }
                                secname = "@if (userData != null)
                                            {
                                                 @userData.SectorName
                                            }";
                                populateSectorDataDropdown();
                                var url = '@Url.Action("Index", "Home")';
                                window.location.href = url;
                            }, null, false);
                        }
                    }, { "SectorID": newSectorID }, true);
                },
                function () {
                    //
                }
            );
        }*@


        $(function () {
            var current = location.pathname;
            $('a.nav-link').each(function () {
                var $this = $(this);
                // if the current path is like this link, make it active
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.addClass('active');
                }
            })
        });


        var pageLoadTime = moment();

        setInterval(refreshAuthenticationCookies, 10000);

        function refreshAuthenticationCookies() {
            if (moment().diff(pageLoadTime, "seconds") > 600) {
                document.getElementById("refreshAuthenticationIframe").contentDocument.location ="@Url.Action("ForceSessionRefresh", "Home", new { area = "" })";
                pageLoadTime = moment();
            }
        }
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" id="refreshAuthenticationIframe"
                src="@Url.Action("CheckSessionTimeout", "Home", new { area = "" })" style="display:none;"></iframe>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" id="pushmenuid" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <h4 id="topHeading" class="m-0 text-dark" style="margin-top:5px!important">@ViewBag.Title</h4>
                </li>
            </ul>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item">
            <a class="nav-link" href="#" id="transferleadershiprole">
                <i class="fas" style="margin-right:7px"></i>Transfer Leadership Role
            </a>
            @Html.Partial("~/Views/Shared/_PartialTransferLeadershipRole.cshtml")
        </li>*@
                <li class="nav-item">
                    @if (System.Security.Claims.ClaimsPrincipal.Current != null && System.Security.Claims.ClaimsPrincipal.Current?.FindFirst("name") != null)
                    {
                        <a class="nav-link" data-widget="control-sidebar" data-slide="false" href="#" role="#">
                            <i class="fas fa-user" style="margin-right:7px"></i>Hi, @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" data-widget="control-sidebar" data-slide="false" href="#" role="#">
                            <i class="fas fa-user"></i>Hi,
                        </a>
                    }
                </li>
                <li class="nav-item dropdown" id="logout" style="margin-top: 8px !important;">
                    <a href="@Url.Action("SignOut", "Home")" class="pl-1 btn-sub-fooditems" style="margin-left:0px !important;margin-top:-3px !important;color:grey;position: relative;padding-bottom: 1rem;">
                        Logout
                    </a>

                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @{
            var um = (HRIS.Data.UserData.UserMasterResponseData)Session["UserLoginDetails"];
        }
        <aside class="main-sidebar sidebar-dark-light">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Home")" class="brand-link">
                <img id="logo" src="~/Content/Images/logo_long_dist.png" alt="MAGMA" class="brand-image"
                     style="opacity: .8">
                <img id="shortlogo" src="~/Content/Images/logo_short.png" s alt="MAGMA" class="brand-image"
                     style="opacity: .8; display:none;margin-left: 10px !important;">
                <span class="brand-text font-weight-light"></span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar" style="min-height:475px!important">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column sectormenu" data-widget="treeview" role="menu" data-accordion="false">
                        @if (um != null && um.UserRoleName != "Lens")
                        {
                            <li class="nav-header">PEOPLE MASTERS</li>
                            <li class="nav-item ">
                                <a href="@Url.Action("Index", "Home")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Employee
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("LocationDesignation", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Leave Encashment
                                    </p>
                                </a>

                            </li>

                            @*<li class="nav-item ">
                <a href="@Url.Action("ITILiteMaster", "HRISMaster")" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        ITILite
                    </p>
                </a>

            </li>*@
                        }
                        <li style="padding-left: 10px !important;" class="nav-header">FEEDER MASTERS</li>
                        @if (um != null && um.UserRoleName != "Lens")
                        {
                            <li class="nav-item ">
                                <a href="@Url.Action("ProfitCenter", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Profit Center
                                    </p>
                                </a>

                            </li>

                            <li class="nav-item ">
                                <a href="@Url.Action("CostCenter", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Cost Center
                                    </p>
                                </a>

                            </li>

                            <li class="nav-item ">
                                <a href="@Url.Action("LeaderShipRole", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Leadership Role
                                    </p>
                                </a>

                            </li>
                            @*<li class="nav-item ">
                <a href="@Url.Action("Index", "SiteMaster")" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Location Splitting
                    </p>
                </a>

            </li>*@
                            <li class="nav-item ">
                                <a href="@Url.Action("SectorDepartmentLeadershipMapping", "Employee")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Sector Department Mapping
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("ConsultantDataUploader", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Quest Uploader
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("DiceUploader", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Dice Uploader
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="@Url.Action("LensUploader", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Lens Uploader
                                    </p>
                                </a>
                            </li>
                        }
                        else if (um != null && um.UserRoleName == "Lens")
                        {
                            <li class="nav-item ">
                                <a href="@Url.Action("LensUploader", "HRISMaster")" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Lens Uploader
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height:560px!important">
            <div id="overlay"></div>
            <div id="mainloader" style="display:none;"></div>
            <div>
                @RenderBody()
            </div>
            @RenderSection("scripts", required: false)
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <span>Copyright &copy; 2020-2021 Compass India.</span>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                MAGMA Version 0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <div class="modal fade" id="confirmbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:99999;width:100%; align-self:center;">
            <div class="modal-dialog" style="width:30%">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <i id="warningIcon" class="fas fa-exclamation-triangle warning-icon" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i>
                        <p style="font-size: 16px;" id="confirmMessage">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="colored-btn" id="confirmOk">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmbox_optional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:99999;width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <i class="fa fa-exclamation-triangle" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i>
                        <p>Are you sure you want to <br /><strong>Gravy</strong></p>
                        <img src="~/Content/Images/check.png" style="width:24px;height:24px; margin-right:15px;" /><p id="confirmMessage_Optional">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="white-btn" id="confirm_Ok">Ok</button>
                        <button class="colored-btn" id="confirm_No">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmbox_warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:99999;width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content" style="width:410px;">
                    <div class="modal-header">
                        <p id="confirmHeader_Warning" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <i class="fas fa-exclamation-triangle warning-icon" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i><p style="font-size: 16px;" id="confirmMessage_Warning">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button class="colored-btn" id="confirm_Ok">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmSave_Box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:99999; width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <i id="warningIcon" class="fas fa-exclamation-triangle warning-icon" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i>
                        <p style="font-size: 16px;" id="confirmSave_Message">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="white-btn" id="confirmSave_Ok">
                            Ok
                        </button>
                        <button class="colored-btn" id="confirmSave_No">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay"></div>
            <div class="preloader" id="preloader"></div>
        </div>

        <div class="modal fade" id="confirmSave_Box1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:99999; width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content" style="width:410px;">
                    <div class="modal-body" style="text-align:center">
                        <img src="~/Content/Images/check.png" style="width:24px;height:24px; margin-right:15px;" /><p style="font-size: 16px;" id="confirmSave_Message1">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="white-btn" id="confirmSave_Ok">Ok</button>
                        <button class="colored-btn" id="confirmSave_No">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay"></div>
            <div class="preloader" id="preloader"></div>
        </div>




    </div>
    <!-- ./wrapper -->
</body>
</html>
