﻿<script src="~/Scripts/CookBook/TransferLeadershipRole.js"></script>
<style>
  /*.k-window {
        height: 300px !important;
    }*/
</style>
<div id="transferLeaderShipRole">
    <div id="windowEditTransferLeaderShipRole">
        <div class="container">
            <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                <i class="icon fas fa-exclamation"></i>
                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                </p>
            </div>
            <div class="row">
                <div class="col-12" style="display:block">
                    <div id="gridTransferLeaderShipRole"></div>
                </div>

            </div>
            <div class="row" style="margin-top:10px !important;">
                <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                    <button type="submit" id="btnCancelTransferLeadershipRole" class="btn btn-tool">Cancel</button>
                    <button type="submit" id="btnSubmitTransferLeadershipRole" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

