﻿
<style>

    #windowEditRecipeDependencies .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }

    #windowEditRecipeDependencies .k-grid {
        width: 99% !important;
    }


    h6 {
        font-weight: 600 !important;
        margin-top: 10px !important;
    }

    .dependencies-scroll {
        max-height: 360px;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .info-box {
        min-height: 45px !important;
        padding: 0px !important;
        border: 1px solid #00000047;
    }

    .info-box-padding {
        margin-right: 23px !important;
    }
</style>
<div id="windowEditRecipeDependencies">
    <div class="container">
        <div class="row">
            <input type="hidden" value="" id="hiddenRecipeID" />
            <div class="col-12">
                <div id="recipeNameChangeMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto; padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                    Do you really want to change the Recipe ‘<span class="recipeName"></span>’ in the system?
                    Please see the Recipe references below. After changing the Recipe ‘<span class="recipeName"></span>’
                    this will start appearing in the below listed Recipe
                    configuration. However an email notification will be sent to the respective Site Manager
                    and Chef for this change. Click on ‘Proceed’ to change the Recipe ‘<span class="recipeName"></span>’.
                </div>
                <div id="recipeConfigChangeMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto; padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                    Do you really want to change the Recipe ‘<span class="recipeName"></span>’ in the system?
                    The change will apply to all the regions and sites where recipe is mapped.
                    However an email notification will be sent to the respective Site Manager
                    and Chef for this change. Click on ‘Proceed’ to change the Recipe ‘<span class="recipeName"></span>’.
                </div>
                <div id="recipeInactiveMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto;display:none;padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                    Do you really want to <span class="recipeDepStatus"></span>  ‘<span class="recipeName"></span>’ in the system?
                    Please see the Recipe references below. After  <span class="recipeDepStatus"></span>, the dependant Dishes will get blocked at the Respective Sites and the email notification will be sent to the respective Site Manager.
                    Click on ‘Proceed’ to apply the change or 'Cancel' to discard the change.
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px !important;">
            <div class="col-12 col-sm-6 col-md-2 info-box-padding baseRecipeDiv">
                <div class="info-box">

                    <div class="info-box-content">
                        <span id="totalImapactedBaseRecipes" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Total Base Recipes</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-2 info-box-padding baseRecipeDiv">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedFinalRecipes" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Total Final Recipes</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedDishes" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Total Dishes</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedItems" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Total Menu Items</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-2" style="padding-left:9px;">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedSites" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Impact on Sites</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2 finalRecipeDiv" style="padding-left:9px;">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedRegion" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Impact on Regions</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="row dependencies-scroll">
            <!-- Base Recipies -->
            <div class="col-12 baseRecipeDiv">
                <h6>Impacted Base Recipes</h6>
                <div id="baseRecipeGrid"></div>
            </div>
            <!-- Final Recipes -->
            <div class="col-12 baseRecipeDiv">
                <h6>Impacted Final Recipes</h6>
                <div id="finalRecipeGrid"></div>
            </div>
            <!-- Dishes -->
            <div class="col-12">
                <h6>Impacted Dishes</h6>
                <div id="dishGrid"></div>
            </div>
            <!-- Items -->
            <div class="col-12">
                <h6>Impacted Items</h6>
                <div id="itemGrid"></div>
            </div>
            <!-- Region -->
            <div class="col-12" style="display:none">
                <h6>Impacted Region</h6>
                <div id="regionGrid"></div>
            </div>
            <!-- Sites -->
            <div class="col-12 finalRecipeDiv">
                <h6>Impacted Sites</h6>
                <div id="siteGrid"></div>
            </div>
        </div>
        <div class="row">
            <div class="modal-footer col-12" style="margin-top:10px !important">
                <button type="submit" id="btnDoLater" class="btn btn-tool">No Shall do it later</button>
                <button style="display:none;" type="submit" id="btnAgree"  class="btn btn-info">
                    I understand the impact, Proceed
                </button>
            </div>
        </div>
    </div>
</div>
