﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        GetEmployeeDataList: "@Url.Action("GetEmployeeDataList", "Employee")",
        GetCostCenterMasterDataList: "@Url.Action("GetCostCenterMasterDataList", "Employee")",
        GetProfitCenterMasterDataList: "@Url.Action("GetProfitCenterMasterDataList", "Employee")",
        SaveEmployeeDataList: "@Url.Action("SaveEmployeeDataList", "Employee")",
        SaveEmployeeData: "@Url.Action("SaveEmployeeData", "Employee")"
        ExportDKData: "@Url.Action("ExportDKData", "Employee")"
    }

</script>


<script src="~/Scripts/CookBook/Employee.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
    .direct-chat .card-body {
        overflow-x: inherit !important;
    }

    .k-dropdown .k-input {
        text-align: left !important;
    }
</style>
@{
    ViewBag.Title = "Employee Master";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <div class="card-tools" style="margin-top: -6px;">
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px; display:none;">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px; display:none;">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="gridBulkChange"></div>
                        <div id="gridEmployee"></div>
                        <div id="windowEditEmployee">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-4">
                                        <label class="form-control-label">Employee Code</label>
                                        <label id="employeecode" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Employee Name</label>
                                        <label id="employeename" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Employment Type</label>
                                        <label id="employmenttype" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Employment Status</label>
                                        <label id="employmentstatus" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Father Name</label>
                                        <label id="fathername" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Department</label>
                                        <label id="department" class="form-control-plaintext"></label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Gender</label>
                                        <label id="gender" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Company</label>
                                        <label id="company" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Function Name</label>
                                        <label id="functionname" class="form-control-plaintext"></label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Entity</label>
                                        <label id="entity" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">LTOGroup</label>
                                        <label id="ltogroup" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">role</label>
                                        <label id="role" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Company Group</label>
                                        <label id="companygroup" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">State</label>
                                        <label id="state" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Branch</label>
                                        <label id="branch" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Division</label>
                                        <label id="division" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Location</label>
                                        <label id="location" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Date of Joining</label>
                                        <label id="doj" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Grade</label>
                                        <label id="grade" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Designation</label>
                                        <label id="designation" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Confirmation Status</label>
                                        <label id="confirmationstatus" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">L1 Manager Code</label>
                                        <label id="l1managercode" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">L1 Manager Name</label>
                                        <label id="l1managername" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">L2 Manager Code</label>
                                        <label id="l2managercode" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">L2 Manager Name</label>
                                        <label id="l2managername" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">HR Manager Code</label>
                                        <label id="hrmanagercode" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-3">
                                        <label class="form-control-label">HR Manager Name</label>
                                        <label id="hrmanagername" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Cost Center</label>
                                        <div id="inputcostcenter" class="form-control"></div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Profit Center</label>
                                        <div id="inputprofitcenter" class="form-control"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-3">
                                        <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important; margin-top:0px !important">
                                            <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                            <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>