﻿
<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        GetSectorDepartmentLeadershipMapping: "@Url.Action("GetSectorDepartmentLeadershipMapping", "Employee")",
        SaveSectorDepartmentLeadershipMapping: "@Url.Action("SaveSectorDepartmentLeadershipMapping", "Employee")",
        GetLeadershipRoleMasterDataList: "@Url.Action("GetLeadershipRoleMasterDataList", "Employee")",
        GetSectorMasterDataList: "@Url.Action("GetSectorMasterDataList", "Employee")",
        GetDepartmentMasterDataList: "@Url.Action("GetDepartmentMasterDataList", "Employee")",
    }

</script>


<script src="~/Scripts/CookBook/SectorDepartmentLeadership.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .direct-chat .card-body {
        overflow-x: inherit !important;
    }

    .k-dropdown .k-input {
        text-align: left !important;
    }
</style>
@{
    ViewBag.Title = "Sector Department Leadership Mapping";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <div class="card-tools" style="margin-top: -6px;">
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="btnAdd" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Add New
                            </button>
                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                            @*<button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="padding-top:7px; display:none;">
            Apply Bulk Changes
        </button>
        <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="display:none;padding-top:7px; display:none;">
            Cancel Bulk Changes
        </button>
        <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
            Save Bulk Changes
        </button>*@
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        
                        <div id="gridSDLMapping"></div>
                        <div id="windowEditSDLMapping">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                    <input type="hidden" id="hdnSDLMId" />
                                    <div class="col-11">
                                        <label class="form-control-label">Sector</label>
                                        <div id="inputSector" class="form-control-plaintext"></div>
                                    </div>
                                    </div>
                                <div class="row">
                                    <div class="col-11">
                                        <label class="form-control-label">Department</label>
                                        <div id="inputDepartment" class="form-control-plaintext"></div>
                                    </div>
                                    </div>
                                <div class="row">
                                    <div class="col-11">
                                        <label class="form-control-label">Leadership Role</label>
                                        <div id="inputLeadership" class="form-control-plaintext"></div>
                                    </div>
                                </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Employment Status</label>
                                        <label id="employmentstatus" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Father Name</label>
                                        <label id="fathername" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Department</label>
                                        <label id="department" class="form-control-plaintext"></label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Gender</label>
                                        <label id="gender" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Company</label>
                                        <label id="company" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Function Name</label>
                                        <label id="functionname" class="form-control-plaintext"></label>
                                    </div>

                                </div>*@
                                
                                <div class="row">
                                    <div class="col-7"></div>
                                    <div class="col-3">
                                        <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important; margin-top:0px !important;padding-left: 11px!important;">
                                            <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                            <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>