﻿.tilesCustom {
    width:45%;
    height: 100px;
    border: 1px solid #e2e2e2;
    float: left;
    background-color: #e2e2e2;
    padding: 5px;
    margin: 10px;
    border-radius:5px;
}
.combine {
    width: 200px;
    margin-top: -59px;
    margin-left: 125px;
}
.itemName {
    font-size: 0.9em;
    padding: 2px;
    border: 1px solid green;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
    font-weight: 700;
}

.itemCode {
    border: 1px solid green;
    font-size:0.7em;
    color:#808080;
}

.img {
    width: 120px;
    height: 80px;
    border: 1px solid red;
}

.item-photo {
    display: inline-block;
    box-shadow: none !important;
    margin: 0 -2px 0;
    height: 80px;
    border-radius: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.price {
    float: right;
    margin-top: -46px;
    font-size: 0.9em;
    font-weight:bold;
}

.configure {
    float: right;
    margin-right: 84px;
    color: #76b4b0 !important;
    margin-top: -46px;
    font-size: 0.9em;
}

.squareVeg {
    float: left;
    width: 10px;
    height: 10px;
    border: solid 2px #569a10;
    margin: 2px;
}

.statusVeg {
    float: left;
    width: 6px;
    height: 6px;
    background: #569a10;
    border-radius: 50%;
    margin: 2px auto;
}
/*
    .tilesCustom{
    width:300px;
    height:100px;
    border:1px solid #e2e2e2;
    float:right;
 background-color:#e2e2e2;
   padding:5px;
    margin:10px;
}
.item-photo {
    display: inline-block;
    box-shadow: none !important;
    margin: 0 -2px 0;
    width: 100%;
    height: 40px;
    border-radius: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

*/
