
form .error {
    color: #ff0000;
}

html {
    scroll-behavior: smooth;
}

.elevation-4 {
    box-shadow: none !important;
    border-right: solid 1px #dcd1c5;
}

.checkmark {
    display: inline-block;
}

.k-grid-filter.k-state-active {
    background-color: #ddd !important;
}

    .checkmark:after {
        content: '';
        display: block;
        width: 7px;
        height: 12px;
        border: solid #7fc241;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

.k-widget.k-tooltip-validation {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #dd0707 !important;
    box-shadow: none !important;
    font-size: 11px !important;
    position: inherit !important;
    float: right !important;
}

nav ul li a:hover {
    color: #ffba0b;
    text-decoration: none;
    cursor: pointer;
}

.nav-pills .nav-link {
    border-radius: 0rem !important;
}

.nav-link.active {
    background-color: #91DEFF !important;
    border-bottom: none !important;
    border-top: none !important;
    border-left: solid 3px rgb(107,79,71) !important;
}

.nav-item .nav-link.active {
    background-color: #91DEFF !important;
    border-bottom: none !important;
    border-top: none !important;
    border-left: solid 3px rgb(107,79,71) !important;
    box-shadow: none !important
}

.nav-icon {
    font-size: 15px !important;
}

.nav-item {
    font-size: 14px !important;
}

.card {
    box-shadow: none !important;
    margin-bottom: 1rem !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
}

.card-header {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    border-bottom: none !important;
    padding: 0.75rem 0.75rem;
}

.card-footer {
    padding: 0.1rem 1.25rem !important;
    /* background-color: rgba(0,0,0,.03); */
    border-top: 0 solid rgba(0,0,0,.125) !important;
    border-bottom: 0 solid rgba(0,0,0,.125) !important
}

.col-sm-12 {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.card-title {
    font-size: 1.0rem !important;
}

.k-grid {
    font-size: 12px !important;
}

.k-button {
    border: none !important;
    background: none;
    padding: 0px;
    min-width: 30px !important;
    background-color: none !important;
}

    .k-button.k-primary {
        background-color: #72bbc4 !important;
    }

#gridBulkChange.k-grid-header {
    background-color: #fff !important;
    padding-right: 0px !important;
    border: none !important;
}

#gridBulkChange.k-header {
    background-color: #fff !important;
}

#gridBulkChange .k-grid-header {
    background-color: #fff !important;
}

.k-grid-header {
    padding-right: 0px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: solid 1px #ecebeb !important;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.alert-publish {
    color: #504141 !important;
    background-color: #ffc733 !important;
    border-color: #ffc733 !important;
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.alert {
    padding: 0.10rem 0rem !important;
    margin-bottom: 0.1rem !important;
    height: 23px;
}

.alert-icon {
    margin-left: 5px !important;
    font-size: 12px !important;
    margin-top: 3px !important;
}

.form-control.is-invalid {
    background-image: none !important;
}

.row-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.row {
    margin-left: 0px !important;
    margin-top: 5px !important;
    margin-right: 0px !important;
}

.btn-info {
    color: #fff !important;
    background-color: rgb(118,180,176) !important;
    border-color: rgb(118,180,176) !important;
    box-shadow: none !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-top: 5px !important;
    font-size: 0.8em !important;
    margin-left: 2px !important;
}

.btn-default {
    background-color: #f8f9fa !important;
    border-color: rgb(118,180,176) !important;
    color: rgb(118,180,176) !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 12px !important;
    margin-top: 10px !important;
    padding-right: 12px !important;
    font-size: 15px !important;
}

.btn-success {
    color: #fff !important;
    background-color: rgb(118,180,176) !important;
    border-color: rgb(118,180,176) !important;
    box-shadow: none !important;
    font-size: 0.9em !important;
}

    .btn-success:hover {
        color: #fff !important;
        background-color: #429481 !important;
        border-color: #429481 !important;
        box-shadow: none !important;
    }

.btn-success-bulk {
    color: #fff !important;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    box-shadow: none !important;
    font-size: 0.9em;
    border-radius: 3px;
    margin-right: 5px;
}

    .btn-success-bulk:hover {
        color: #fff !important;
        background-color: #ff0505 !important;
        border-color: #ff0505 !important;
        box-shadow: none !important;
    }

.btn-tool {
    box-shadow: none !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-top: 5px !important;
    font-size: 0.8em !important;
    margin-right: 5px !important;
    margin-bottom: -1px !important;
    color: #699e9b !important;
}

    .btn-tool:hover {
        background-color: #ecf0ef;
        color: #699e9b !important;
        /*padding: 2px 5px 2px 5px;*/
    }

.btn-publish {
    /* background-color: #ffc631 !important;
    border: 1px solid #ffc631 !important;
    color: #504141 !important;
    margin-left: 0px !important;*/
    color: #504141 !important;
    background-color: #ffc631 !important;
    border: 1px solid #ffc631 !important;
    box-shadow: none !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-top: 5px !important;
    font-size: 0.8em !important;
    margin-left: 2px !important;
}

.btn-xxs {
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.2;
    border-radius: .15rem;
}

.k-window-titlebar {
    background-color: rgb(221,221,221) !important;
    font-weight: bold;
}

.k-window-title {
    right: 0em !important;
    font-size: 14px !important;
}

.k-overlay {
    z-index: 1002 !important;
}

.k-window-content {
    padding: 1px !important;
    overflow: hidden !important;
}

.oppdet1 td {
    border: none;
}

.oppdet td {
    border: none;
}

.oppdet1 {
    border-bottom-color: black !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

.form-control {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 1px !important;
    height: 25px !important;
    /*width: auto !important;*/
    /*width: 100%!important;*/
    font-size: 0.8em !important;
    width: -webkit-fill-available !important;
}

.form-control-label {
    display: block !important;
    width: 100% !important;
    padding-bottom: .075px !important;
    margin-bottom: 0 !important;
    color: #a0a6ab !important;
    background-color: transparent !important;
    border: solid transparent !important;
    border-width: 1px 0 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.form-control-plaintext {
    display: block !important;
    width: 100% !important;
    padding-bottom: 0px !important;
    margin-bottom: 0 !important;
    color: #a0a6ab !important;
    background-color: transparent !important;
    border: solid transparent !important;
    border-width: 1px 0 !important;
    font-size: 14px !important;
    margin-top: -7px;
    font-weight: 400 !important;
}

.form-control-main {
    display: block !important;
    width: 100% !important;
    padding-bottom: .375rem !important;
    margin-bottom: 0 !important;
    color: #61666b !important;
    background-color: transparent !important;
    border: solid transparent !important;
    border-width: 1px 0 !important;
    font-size: 14px !important;
    margin-top: 10px;
    font-weight: 400 !important;
}

.form-group {
    margin-bottom: 0px !important;
}

.modal-footer {
    border-top: none !important;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: 1rem; */
    border-bottom: 1px solid #e9ecef !important;
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
    background-color: #ff0000 !important;
    color: #fff !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-bottom: 5px !important;
}

.btn-s {
    padding: 0 2rem !important;
    font-size: 14px !important;
    line-height: 2 !important;
}

span .k-dropdown {
    width: -webkit-fill-available !important;
    font-size: 14px !important;
    height: 25px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 8px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 0px;
        bottom: -2px;
        background-color: rgb(151,151,151);
        -webkit-transition: .4s;
        transition: .4s;
    }


input:checked + .slider {
    background-color: rgb(181,214,212);
}


    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
        background-color: rgb(118,180,176);
    }

/* Rounded sliders */
.slider.round {
    border-radius: 4px;
}

    .slider.round:before {
        border-radius: 50%;
        background-color: rgb(151,151,151);
    }

.brand-link {
    display: inline-block !important;
    background-color: white !important;
    margin-left: 0px !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.brand-image {
    margin-left: 0px !important;
}

.brand-link .brand-image {
    max-height: 50px !important;
}

.main-header {
    min-height: 74px !important;
}

.main-footer {
    font-size: 0.7rem !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    margin-top: -10px !important;
}

.brand-link a {
    background-color: white !important;
}

.green-status {
    background: #569a10 !important;
}

.red-status {
    background: #d73d36 !important;
}

.status {
    width: 10px;
    height: 10px;
    background: #569a10;
    border-radius: 50%;
    margin: 0 auto;
}

.squareVeg {
    width: 8px;
    height: 8px;
    border: solid 2px #008d3d;
    margin: 0 auto;
}

.statusVeg {
    width: 4px;
    height: 4px;
    background: #008d3d;
    border-radius: 50%;
    margin: 2px auto;
}

.squareNonVeg {
    width: 8px;
    height: 8px;
    border: solid 2px #d3241d;
    margin: 0 auto;
}

.statusNonVeg {
    width: 4px;
    height: 4px;
    background: #d3241d;
    border-radius: 50%;
    margin: 2px auto;
}

.squareEgg {
    width: 8px;
    height: 8px;
    border: solid 2px #FFB804;
    margin: 0 auto;
}

.statusEgg {
    width: 4px;
    height: 4px;
    background: #FFB804;
    border-radius: 50%;
    margin: 2px auto;
}

.itemname {
    margin-left: 8px;
    margin-top: -4px;
}

.categoryStatus {
    width: 20px;
    display: inline-grid;
    margin: 10px 3px 0px 16px;
    float: left;
}

.menuName {
    height: 20px;
    /* width: 234px;*/
    /*width:60%;*/
    display: inline-grid;
    margin-top: 5px;
}

.k-grid-content {
    /*overflow: hidden !important;
    overflow-x: hidden !important;*/
    /*overflow-y: hidden !important;*/
    border: solid 1px #ecebeb !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: auto !important;
}

.k-grid-content {
    overflow-y: auto !important;
}

.k-grid-toolbar {
    padding: 0px !important;
    float: right !important;
    border: none !important;
    margin-top: 5px !important;
}


.k-pager-wrap .k-link.k-pager-last {
    border-radius: 1.25em !important;
}

.modal-footer {
    padding: 0px !important;
    margin-top: 20px !important;
}

.inputbrqty, .inputmogqty {
    width: 45px !important;
    border: solid 1px lightgoldenrodyellow !important;
    background-color: lightgoldenrodyellow;
    border-radius: 3px;
    text-align: center;
}


    .inputbrqty :focus, inputmogqty:focus {
        /* border: solid 1px #ecebeb !important;*/
    }

/*.inputmogqty {
    width: -webkit-fill-available !important;
}*/
.k-button.k-state-hover, .k-button:hover {
    background-color: transparent !important;
}

.k-button.k-state-active:hover, .k-button:active:hover {
    /*color: #fff !important;*/
    border-color: #8d8079 !important;
    /*    background-color: #ebebeb !important;*/
    background-color: transparent !important;
}

.k-button.k-state-hover, .k-button:hover {
    /* color: #2e2e2e;*/
    border-color: #b6b6b6 !important;
    /*background-color: rgba(0, 0, 0, 0.00) !important;*/
    background-color: #e2e2e2;
    /*padding: 2px 8px 2px 8px;*/
}

.k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-list > .k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-recur-view .k-check:active, .k-pager-wrap .k-link:hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-state-hover, .k-state-hover:hover {
    /*color: #2e2e2e;*/
    background-color: #dee6e4;
    border-color: #76b4b0;
}

.k-list > .k-state-selected {
    background-color: #f2f0ef;
    border-color: #f2f0ef;
}

.k-state-selected {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: none !important;
}

.item-photo {
    display: inline-block;
    box-shadow: none !important;
    margin: 0 -2px 0;
    width: 100%;
    height: 40px;
    border-radius: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

label#itemName {
    margin: 0;
    width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: 200px;*/
    overflow: hidden;
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
}

.k-grid tr:hover {
    background: none;
}

.gridMain tr:hover {
    background-image: none !important;
    background-color: #ffffbf !important;
}


.menu-disable {
    color: rgb(185,185,185);
}

.k-autocomplete, .k-button, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    background-image: none !important;
    background-image: none,-webkit-linear-gradient(top,rgba(221, 221, 221, 0.6) 0,rgba(221, 221, 221, 0) 100%);
    background-position: 50% 50%;
    background-color: none;
    border-color: none !important;
}

.k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: rgb(221, 221, 221) !important;
    border-color: none !important;
}

    .k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
        border-color: none !important;
    }

        .k-filter-row th, .k-grid-header th.k-header {
            border-style: none !important;
            border-width: 0px !important;
        }

.colorG > span.k-dropdown-wrap.k-state-default {
    background-color: rgb(118,180,176);
    min-height: 2.0em;
    line-height: 2.0em;
    padding: 0em 5px;
    font-size: 13px;
    /*border-radius: 2px;*/
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    color: #fff !important;
}

.colorG > span.k-dropdown-wrap > .k-input {
    color: #fff !important;
}



.k-dropdown-wrap.k-state-default {
    background-color: #fff;
    min-height: inherit !important;
    /*line-height: 1.85em;*/
    padding: 0em 0;
    font-size: 13px;
}

.k-dropdown-wrap.k-state-input {
    min-height: inherit !important;
    /*height: 1.85em;
    line-height: 1.85em;*/
    padding: 0em 0;
    text-indent: 0.33em;
    border: 0;
    margin: 0;
}

.k-state-default > .k-select {
    border-color: #c5c5c5;
    margin-top: -1px;
}

.k-link {
    margin-right: 5px !important;
    background-color: none !important;
}

.k-grid tr td {
    border-style: none !important;
    border-color: none !important;
}

.k-grid td {
    border-style: none !important;
    border-width: 0px !important;
}

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background-color: #FFF8D5 !important;
}

.k-block, .k-button, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: none !important;
}

.k-grid-Edit, .k-grid-Configuration, .k-grid-Map, .k-grid-MapDishes, .k-grid-MapRecipe, .k-grid-Update {
    color: #76b4b0 !important;
}

.k-grid-Edit, .k-grid-Configuration, .k-grid-Map, .k-grid-MapDishes, .k-grid-MapRecipe, .k-grid-Modify {
    color: #76b4b0 !important;
}

.si {
    color: #9e8f8f;
}

#inputdishcategory_taglist li, #inputrecipelist_taglist li, #inputAPL_taglist li, #inputDesignationmulti_taglist li {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.btn-action {
    float: right;
    margin-top: 0px !important;
    height: 32.63px;
    background-color: #76b4b0 !important;
    border: 1px solid #76b4b0 !important;
}

.k-multiselect-wrap li {
    margin: 1px 0 1px 1px;
    padding: .1em 1.6em .1em .4em;
    line-height: 1.8em !important;
    float: left;
    position: relative;
    font-size: 1.0em !important;
}

.k-multiselect.k-header {
    border: none !important;
}

.k-multiselect-wrap:focus {
    outline: none !important
}

.k-multiselect-wrap {
    background-color: #e2e2e2 !important;
    color: #2e2e2e !important;
    min-height: 2.04em;
}

#inputAPL_taglist .k-button, .k-state-selected, #inputdishcategory_taglist .k-button, .k-state-selected, #inputrecipelist_taglist .k-button, .k-state-selected, #inputDesignationmulti_taglist .k-button,.k-state-selected{
    /*background-color: #76b4b0 !important;*/
    background-color: #dee6e4;
    color: #297974 !important;
    border: 1px solid #74b4b0 !important;
    font-size: 0.9em !important;
}
/*Krish*/
.colorG {
    padding: 2px 2px 2px 0px;
    margin-left: -4px;
    margin-top: 0px !important;
    /* height: 28px; */
    background-color: #ccc !important;
    color: #000;
    width: 55px;
    /* border-radius: 2px; */
    display: inline-block;
    border-radius: 0px 2px 2px 0px;
    font-size: 0.9em;
    /*border-bottom-left-radius:0px!important;
    border-top-left-radius:0px!important;*/
}

.serv {
    font-size: 0.8em;
}

.dishlabel {
    font-size: 0.8em;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}

.smallGreen {
    color: #76b4b0 !important;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
    margin-right: 3px;
    padding-top: 5px;
}

.hideG {
    height: 30px;
    float: right;
    color: #2d3131 !important;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 2px;
    font-size: 0.8em;
    margin-top: 6px;
    cursor: pointer;
    /* margin-top: 3px;*/
}

.hideG1 {
    height: 30px;
    float: right;
    color: #2d3131 !important;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 2px;
    font-size: 0.8em;
}

.k-select {
    margin-top: -2px !important;
    font-size: 0.9em !important;
}

.ddldish {
    float: right;
    width: 200px;
    margin-top: 2px;
    font-size: 0.8em;
}

.smallIngredient {
    width: 24.76%;
    display: inline-block;
    height: inherit;
    border-radius: 0px;
    margin: 0 0 2px 2px;
    padding: 2px;
    background-color: #f0f0f0;
}

    .smallIngredient .supper {
        padding: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 230px !important;
        max-width: 230px;
        overflow: hidden;
        font-size: 0.9em;
        height: 30px;
        color: #1b1919;
        font-family: inherit;
        padding-left: 8px;
        padding-top: 2px;
        padding-bottom: 0px;
        cursor: alias;
    }

.upperText {
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    font-weight: 400;
    cursor: pointer;
}

.smallIngredient .slower {
    font-size: 0.75em;
    margin-left: 8px;
    font-weight: 500;
    color: #595959;
    font-family: inherit;
    margin-right: 6px;
    background-color: #f0f0f0;
    margin-top: -7px;
}

.qty {
    width: 55px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e2e2e2;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    /*  min-height: 2em;*/
    min-height: 1.9em;
    font-size: 0.9em;
}

.qtyT {
    width: 55px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    /*  min-height: 2em;*/
    min-height: 1.9em;
    font-size: 0.9em;
}

.displayG {
    display: none;
    float: right;
    color: #7f7f7f;
    border-radius: 0 5px 0 5px;
    font-size: 0.8em;
    padding-top: 6px;
    margin-right: 15px;
}

.dish {
    margin-bottom: 15px;
}

    .dish .upper {
        background-color: #cccccc;
        padding: 7px;
        border-radius: 5px 5px 0 0;
        padding-left: 20px !important;
    }

    .dish .lower {
        min-height: 63px;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        border-top: 2px solid #fff;
        border-left: solid #cccccc 2px;
        border-right: solid #cccccc 2px;
        border-bottom: solid #cccccc 2px
    }

.dishRecipe {
    margin-bottom: 15px;
}

    .dishRecipe .upper {
        background-color: rgb(118,180,176);
        padding: 5px;
        border-radius: 5px 5px 0 0; /*5px 5px 0 0;*/
        padding-left: 10px !important;
        height: 35px;
        color: white;
        cursor: pointer;
    }

    .dishRecipe .lower {
    }

ul#inputdishcategory_listbox li span {
    font-size: 0.9em !important;
}

.container {
    width: auto !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

[class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after, [class*=icheck-] > input:first-child:checked + label::after {
    top: 3px !important;
    left: 1px !important;
}

.icheck-success > input:first-child:checked + input[type=hidden] + label::before, .icheck-success > input:first-child:checked + label::before {
    background-color: #ffc733 !important;
    border-color: #ffc733 !important;
}

[class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
    margin-left: -27px !important;
    width: 18px !important;
    height: 18px !important;
}

.icheck-success > input:first-child:not(:checked):not(:disabled):hover + input[type=hidden] + label::before, .icheck-success > input:first-child:not(:checked):not(:disabled):hover + label::before {
    border-color: #ffc733 !important;
}


.colorGS {
    padding: 2px;
    margin-left: 1px;
    margin-top: 1px !important;
    /* height: 28px; */
    background-color: #f0f0f0 !important;
    color: #000;
    width: 60px;
    /* border-radius: 2px; */
    display: inline-block;
    border-radius: 2px;
    font-size: 0.9em;
}


.qtySer {
    width: 54px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    border-radius: 2px;
    padding-left: 10px;
    margin-left: 4px;
    /* float:right;*/
}

.qtyCon {
    width: 54px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    border-radius: 2px;
    padding-left: 10px;
}

.qtyS {
    width: 30px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    border-radius: 5px;
    font-size: 0.75em;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 3px;
}

#itemDietCategory.squareVeg {
    width: 14px;
    height: 14px;
    border: solid 2px #008d3d;
    margin: 0 auto;
}

#itemDietCategoryStatus.statusVeg {
    width: 6px;
    height: 6px;
    background: #008d3d;
    border-radius: 50%;
    margin: 2px auto;
}

#itemDietCategory.squareNonVeg {
    width: 14px;
    height: 14px;
    border: solid 2px #d3241d;
    margin: 0 auto;
}

#itemDietCategoryStatus.statusNonVeg {
    width: 6px;
    height: 6px;
    background: #d3241d;
    border-radius: 50%;
    margin: 2px auto;
}

#itemDietCategory.squareEgg {
    width: 14px;
    height: 14px;
    border: solid 2px #FFB804;
    margin: 0 auto;
}

#itemDietCategoryStatus.statusEgg {
    width: 6px;
    height: 6px;
    background: #FFB804;
    border-radius: 50%;
    margin: 2px auto;
}

.dropdown-item {
    font-size: 0.9em;
}

.sector {
    border-top-color: #FFB804;
    border-top-width: thick;
}

.common {
    border-top-color: #a38260;
    border-top-width: thick;
}

.tag {
    background: #0ffbf0;
    border-radius: 2px;
    color: #555f09;
    display: inline;
    height: 12px;
    line-height: 15px;
    padding: 2px 5px 2px 5px;
    position: relative;
    margin: 5px 15px 0px -1px;
    text-decoration: none;
    /* -webkit-transition: color 0.2s; */
    font-size: 0.8em;
    width: 12px;
}

.ntag {
    background: #e0f532;
    border-radius: 2px;
    color: #555f09;
    display: inline;
    height: 12px;
    line-height: 15px;
    padding: 2px 5px 2px 5px;
    position: relative;
    margin: 5px 15px 0px -1px;
    text-decoration: none;
    /* -webkit-transition: color 0.2s; */
    font-size: 0.8em;
    width: 12px;
}

.fptag {
    display: inline;
    height: 12px;
    line-height: 15px;
    position: relative;
    font-size: 0.91em;
    width: 12px;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 5px 15px 0px -1px;
    text-decoration: none;
    margin-left: 11px;
    /*background-image: linear-gradient(#9cf1cd, #8fe6c2, #79e8bc);
    border: solid 1px #10cf9b;*/
    color: #fff;
    background: #75CEEC !important;
}

.tagnc, .tagc {
    font: inherit;
    font-size: 0.8em;
    margin-top: 1px;
    margin-left: -10px;
    color: #a0a6ab !important;
}

#sourceName {
    background: #00ffff;
    border-radius: 5px;
    color: #000;
    display: inline;
    height: 20px;
    line-height: 20px;
    padding: 2px 10px 2px 10px;
    position: relative;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    /* -webkit-transition: color 0.2s; */
    font-size: 0.8em;
}

.search-input {
    width: 284px;
    height: 24px !important;
    padding-left: 8px;
    float: right;
    position: relative;
    margin-top: 5px;
    border: solid 1px #ccc;
    font-size: 0.8em;
    margin-right: 15px;
    border-radius: 4px
}

    .search-input:focus {
        border: solid 1px #76b4b0 !important;
    }

:focus {
    outline: none !important;
    /*outline-color: none !important;
    outline-style: none !important;
    outline-width: none !important;*/
}

.alert .icon {
    margin: 3px 2px 2px 5px;
    font-size: 0.7em;
}

#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*z-index: 9999;*/
    z-index: 100003;
    background: url('../Images/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5);
    display: none;
}

#mainloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100003;
    color: black;
    background: url('../Images/loader.gif') 50% 50% no-repeat rgba(0,0,0,0.5);
    display: block;
}

.main-loader-hide {
    display: none !important;
}

.main-loader-show {
    display: block !important;
}

.k-dropdown-wrap > .k-i-arrow-s {
    background-image: url("../Images/down-arrow.png") !important;
}

.k-dropdown .k-input {
    height: 1.65em !important;
    line-height: 1.65em !important;
    padding: .097em 0 !important;
    font-size: 0.9em;
}

#inputregion_listbox .k-item {
    font-size: 12px !important;
}

.k-popup .k-list .k-item {
    font-size: 0.9em !important;
}

.dishtile {
    margin-left: 8px;
    margin-top: 8px;
}

.wtlabel {
    font-size: 0.8em;
}

.greenborder {
    border-left: solid 5px #008d3d;
}

.yellowborder {
    border-left: solid 5px #FFB804;
}

.redborder {
    border-left: solid 5px #d3241d;
}

.k-button.k-button-icontext:hover:active:focus {
    box-shadow: none !important;
}

#success1 {
    margin-top: 14px;
}

.os-scrollbar-handle {
    /*background: #ffecde !important;*/
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
    background: #ffecde !important;
}


    .k-grid-content::-webkit-scrollbar:horizontal {
        height: 5px;
    }

.k-grid-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 0px !important;
}

.k-grid-content::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
    background: #ffecde !important;
}


    ::-webkit-scrollbar:horizontal {
        height: 10px !important;
    }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
    background: #ffecde !important;
}

.k-grid-content.k-auto-scrollable {
    height: 470px;
    max-height: 470px;
}

::-webkit-scrollbar {
    width: 10px !important;
}

#gridBulkChange > .k-grid-content.k-auto-scrollable {
    height: 0px;
}

.plain-btn {
    border: none !important;
    color: #699e9b !important;
    padding: 2px 5px 2px 5px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: #fff !important;
    /*border-radius: 10px;*/
    /* -webkit-box-shadow: 0 0px 6px #332c22; */
    -moz-box-shadow: 0 0px 6px #332c22;
    /* box-shadow: 0 4px 2px -2px grey !important; */
}

.modal.show {
    display: flex !important
}

.plain-btn:focus, .plain-btn:hover {
    background: #e2e2d9 !important;
    /*position: relative;*/
}

save-btn {
    border-radius: 4px !important;
    line-height: 1.8 !important;
    padding: 0 13px !important;
    width: auto !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.save-btn:focus {
    outline: none;
}

.k-dropdown {
    background-color: transparent !important;
}

.lower .smallIngredient:nth-child(4n+0) .site_smallIngredient {
    left: -132px;
}

/*----
.k-i-arrow-s {
    background-image: none !important;
    position: relative;
}

.k-i-arrow-s:before {
    content: "\f000";
    position: absolute;

    font-family: FontAwesome;
    z-index: 6;
    
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    top: 10px;
    left: 0;
}
----*/

.site_supper {
    margin: 10px;
    padding-top: 4px;
    color: #fff;
}

.site_slower {
    margin: 10px;
}

.sitemodalhdr {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #3b3838;
    margin-top: -10px;
    height: 30px;
}

.site_cross {
    float: right;
    cursor: pointer;
    margin-right: -5px;
    font-size: smaller;
}

.k-dropdown-wrap.k-state-active.k-state-border-down, .k-numeric-wrap .k-link.k-state-selected, .k-pager-numbers.k-state-expanded .k-current-page .k-link, .k-picker-wrap.k-state-active.k-state-border-down {
    box-shadow: none !important;
}

/*.k-dropdown-wrap.k-state-default {*/
/*min-height: 2.1em !important;*/
/*}*/

.k-dropdown .k-input {
    padding: 3px 0 !important;
}

span.k-icon.k-i-arrow-s {
    top: 7px;
    position: absolute;
    right: 3px;
}

.upperText {
    margin-top: 6px !important;
    padding: 0px 0px;
    line-height: 18px;
    position: relative;
    top: 0px;
    white-space: initial;
}

.dishlabel {
    margin-top: 7px;
}



.dishtile .k-dropdown-wrap.k-state-default {
    min-height: 1.2em !important;
    line-height: 8px;
    border: 1px solid #e2e2e2;
}

.dishtile .k-dropdown .k-input {
    padding: 2px 0 !important;
}

.dish .upper {
    height: 45px;
}

    /*.dish .upper .k-header {
    padding: 0px;
}*/

    .dish .upper .k-header .k-input {
        padding: 3px 0px;
    }

.colorG > span.k-dropdown-wrap.k-state-default::after hover {
    border: none;
    box-shadow: none;
}

.k-state-hover {
    outline: none !important;
    box-shadow: none !important;
}

.checkbox input {
    height: 14px !important;
    width: 14px !important;
    border: 1px solid #CACACA;
    background: none !important;
}

.checkbox:before input[type="checkbox"]:checked {
    content: '@';
    position: absolute;
    width: 10px;
    height: 10px;
    color: red;
}


/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
    width: 13px;
    height: 13px;
}

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        left: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #fff;
    border: 1px solid #76b4b0;
    border-radius: 2px;
}

    /* On mouse-over, add a grey background color */
    /*.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}*/

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 2.5px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid #76b4b0;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 0.17em 0.17em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark {
    border: 1px solid #76b4b0;
}

.checkmarkgrid {
    position: absolute;
    top: 2;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #76b4b0;
    border-radius: 2px;
}

    /* On mouse-over, add a grey background color */
    /*.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}*/

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmarkgrid:after {
        content: "";
        position: absolute;
        display: none;
    }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmarkgrid:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmarkgrid:after {
    left: 3.5px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid #76b4b0;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 0.17em 0.17em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmarkgrid {
    border: 1px solid #76b4b0;
}

.toasts-top-right {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1040;
}

.swal2-popup.swal2-toast {
    padding: .25rem .75rem;
    font-size: .875rem;
    /*background: #ccc;*/
    /*background-color: #d4edda !important;
    border-color: #c3e6cb !important;*/
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgb(40, 167, 69);
}

.colortag {
    height: 8px;
    width: 18px;
    border-radius: 4px;
    margin-left: 22px;
}

.colortagedit {
    height: 48px !important;
}

.colortable table {
    height: 50px;
    width: 100px;
}

.colortable tr td {
}

.colortable tr {
    width: 100px;
}

.gridButton {
    font-size: 13px;
    color: white;
    padding-right: 5px;
}

.colortable div {
    border: solid 1px #c2c2c2;
    width: 23px;
    height: 21px;
    cursor: pointer;
}

.gridToolbarShift {
    margin-top: -30px !important;
    background-color: #76B4B0 !important;
    padding-right: 20px !important;
}

    .gridToolbarShift > .k-button.k-state-hover, .k-button:hover {
        background-color: transparent !important;
        color: none;
    }

.k-grid-Delete, .k-grid-Delete:hover {
    color: red;
}

.k-grid-ViewAPL, .k-grid-ViewAPL:hover {
    color: #76B4B0;
    background-color: inherit !important;
}

    .k-grid-ViewAPL:active:hover {
        color: #76B4B0 !important;
        border: none !important;
        background: none !important;
    }

.k-grid-Delete:active:hover {
    color: red !important;
    border: none !important;
    background: none !important;
}

.col {
    padding-right: 7.5px !important;
    margin-top: -6px !important;
    margin-bottom: 2px !important;
}

.bottomCurve {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.gridInside {
    max-height: 160px !important;
    overflow-y: auto !important;
    min-height: 70px;
    height: auto !important;
}

/*.layout-fixed .wrapper .sidebar {
    height: calc(100vh - (4.5rem + 1px));
}*/
.errorRed {
    border: 1px solid red;
}

.mandatoryAsterisk {
    color: red;
}

.k-grid-norecords {
    width: 100%;
    height: 90% !important;
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.k-grid-clearall:active, .k-grid-clearall:focus {
    text-decoration: none;
    border: none !important;
    box-shadow: none !important;
}
