﻿.hideSt {
    height: 30px;
    float: right;
    color: #2d3131 !important;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 2px;
    font-size: 0.8em;
    margin-top: 6px;
}
[class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after, [class*=icheck-] > input:first-child:checked + label::after {
    top: 2px !important;
}

.slider {
    background-color: rgb(243,243,243)!important;
}

input:checked + .slider {
    background-color: rgb(243,243,243);
}

    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
        background-color: rgb(118,180,176);
    }

/* Rounded sliders */
.slider.round {
    border-radius: 4px;
}

    .slider.round:before {
        border-radius: 50%;
        background-color: rgb(151,151,151);
    }

#previewchk:hover {
    background:none!important;
}

#changesum:hover {
    background: none !important;
}

.dllrgndish {
    font-size:0.9em!important;
}