﻿<script>

    var HRISMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        GetCostCenterDataList: "@Url.Action("GetCostCenterMasterDataList", "Employee")",
        SaveCostCenterData: "@Url.Action("SaveCostCenterData", "HRISMaster")",
    }
</script>
<script src="~/Scripts/CookBook/CostCenter.js"></script>
<style>
    .popover {
        z-index: 120000 !important;
    }

    .k-window {
        height: 140px !important;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
</style>
@{
    ViewBag.Title = "Cost Center";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="ColorMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">

                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;width: 715px;">
                            <span style="float:left" class="costcenterdetailsearch">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" style="position: relative; padding-left: 25px; height: 25px !important;">
                                <i class="fas fa-search" style="position: relative; left: 20px; font-size: 0.8em; color: #76b4b0; z-index: 1; top: 5px !important; opacity: 1;"></i>
                            </span>
                            <div class="float-right">
                                <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="padding-top:7px">
                                    Export To Excel
                                </button>
                                <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="margin-top:5px">
                                    Add New Cost Center
                                </button>
                            </div>

                        </div>
                    </div>
                    <div id="costcenterid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="clbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridCostCenter"></div>
                        <div id="windowEdit">
                            <div class="container">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row">

                                    <div class="col-6">
                                        <label class="form-control-label">Cost Center<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="costcentername" class="form-control" />
                                    </div>
                                    <div class="col-12" style="display:block">
                                        <label class="form-control-label">Remark</label>
                                        <input type="text" id="remark" class="form-control" />
                                    </div>


                                </div>
                                <div class="row" style="margin-top:10px !important;">
                                    <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>