﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetAlergenDataList: "@Url.Action("GetAlergenDataList", "CookBookMaster")",
        GetConceptType1DataList: "@Url.Action("GetConceptType1DataList", "CookBookMaster")",
        GetConceptType2DataList: "@Url.Action("GetConceptType2DataList", "CookBookMaster")",
        GetConceptType3DataList: "@Url.Action("GetConceptType3DataList", "CookBookMaster")",
        GetConceptType4DataList: "@Url.Action("GetConceptType4DataList", "CookBookMaster")",
        GetConceptType5DataList: "@Url.Action("GetConceptType5DataList", "CookBookMaster")",
        GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishSubCategoryDataList: "@Url.Action("GetDishSubCategoryDataList", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetItemType1DataList: "@Url.Action("GetItemType1DataList", "CookBookMaster")",
        GetItemType2DataList: "@Url.Action("GetItemType2DataList", "CookBookMaster")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "CookBookMaster")",
        GetServewareDataList: "@Url.Action("GetServewareDataList", "CookBookMaster")",
        GetServingTemperatureDataList: "@Url.Action("GetServingTemperatureDataList", "CookBookMaster")",
        GetSiteProfile1DataList: "@Url.Action("GetSiteProfile1DataList", "CookBookMaster")",
        GetSiteProfile2DataList: "@Url.Action("GetSiteProfile2DataList", "CookBookMaster")",
        GetSiteProfile3DataList: "@Url.Action("GetSiteProfile3DataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetVisualCategoryDataList: "@Url.Action("GetVisualCategoryDataList", "CookBookMaster")",
        SaveAlergen: "@Url.Action("SaveAlergen", "CookBookMaster")",
        SaveConceptType1: "@Url.Action("SaveConceptType1", "CookBookMaster")",
        SaveConceptType2: "@Url.Action("SaveConceptType2", "CookBookMaster")",
        SaveConceptType3: "@Url.Action("SaveConceptType3", "CookBookMaster")",
        SaveConceptType4: "@Url.Action("SaveConceptType4", "CookBookMaster")",
        SaveConceptType5: "@Url.Action("SaveConceptType5", "CookBookMaster")",
        SaveDayPart: "@Url.Action("SaveDayPart", "CookBookMaster")",
        SaveDietCategory: "@Url.Action("SaveDietCategory", "CookBookMaster")",
        SaveDishCategory: "@Url.Action("SaveDishCategory", "CookBookMaster")",
        SaveDishSubCategory: "@Url.Action("SaveDishSubCategory", "CookBookMaster")",
        SaveFoodProgram: "@Url.Action("SaveFoodProgram", "CookBookMaster")",
        SaveItemType1: "@Url.Action("SaveItemType1", "CookBookMaster")",
        SaveItemType2: "@Url.Action("SaveItemType2", "CookBookMaster")",
        SaveMOG: "@Url.Action("SaveMOG", "CookBookMaster")",
        SaveServeware: "@Url.Action("SaveServeware", "CookBookMaster")",
        SaveServingTemperature: "@Url.Action("SaveServingTemperature", "CookBookMaster")",
        SaveSiteProfile1: "@Url.Action("SaveSiteProfile1", "CookBookMaster")",
        SaveSiteProfile2: "@Url.Action("SaveSiteProfile2", "CookBookMaster")",
        SaveSiteProfile3: "@Url.Action("SaveSiteProfile3", "CookBookMaster")",
        SaveUOM: "@Url.Action("SaveUOM", "CookBookMaster")",
        SaveVisualCategory: "@Url.Action("SaveVisualCategory", "CookBookMaster")",
        @*AcknowledgeIndentUrl: "@Url.Action("AcknowledgeIndent", "GoodsIndent")",
        SaveFoodProram: "@Url.Action("SaveFoodProgram", "CookBookMaster")",
        GetGoodsIndentHeaderListUrl: "@Url.Action("GetGoodsIndentHeaderList", "GoodsIndent")",
        GetGoodsIndentHeaderListByFilterUrl: "@Url.Action("GetGoodsIndentHeaderListByFilter", "GoodsIndent")",
        GetGoodIndentDetailsByIdUrl: "@Url.Action("GetGoodsIndentDetailsById", "GoodsIndent")",*@
    }
</script>

<script src="~/Scripts/CookBook/Master.js"></script>
@*<script src="~/Scripts/CookBook/Validations.js"></script>*@

<style>
    .card-header {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .card-title {
        font-size: 1.0rem !important;
    }

    .k-grid {
        font-size: 12px !important;
    }

    .k-button {
        border: none;
        background: none;
        padding: 0px;
        min-width: 30px !important
    }
</style>
@{
    ViewBag.Title = "Manage Data Slicers";
}

@*<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Manage Segmentation Variables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Masters</li>
                    <li class="breadcrumb-item active">Segment Variables</li>
                </ol>
            </div>
        </div>
    </div>
</div>*@
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; max-height:300px">
                <div id="FoodProgram" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Food Program</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="fpaddnew" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Food Program"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                            <div id="fpsuccess" class="alert alert-success alert-dismissible" style="display:none">
                                @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                                <i class="icon alert-icon fas fa-check"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div id="gridFoodProgram"></div>
                            <div id="newFoodProgram" style="display:none">
                                <div id="fperror" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon alert-icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row-card">
                                    <label id="fpid" style="display:none"></label>
                                    <p style="margin-bottom:2px;font-size:12px">Name</p>
                                    <input id="fpname" name="name" class="form-control" type="text" placeholder="Input Name" />
                                </div>
                                <div class="row-card">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <p style="margin-bottom:2px;font-size:12px">Status</p>
                                            <label class="switch">
                                                <input id="fpactive" type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5" style="margin-left:5px;">
                                        <div class="form-group" style="display:flex">
                                            <button type="submit" id="fpcancel" class="btn btn-default">Cancel</button>
                                            <button type="submit" id="fpsubmit" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="VisualCategory" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Visual Category</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="vcaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Visual Category"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="vcbody" class="card-body">
                        <div id="vcsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon alert-icon fas fa-check"></i>
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridVisualCategory"></div>
                        <div id="newVisualCategory" style="display:none">
                            <div id="vcerror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="vcid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="vcname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="vcactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="vccancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="vcsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="DishCategory" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Dish Category</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="dcaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Dish Category"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="dcbody" class="card-body">
                        <div id="dcsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon alert-icon fas fa-check"></i>
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridDishCategory"></div>
                        <div id="newDishCategory" style="display:none">
                            <div id="dcerror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="dcid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="dcname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="dcactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="dccancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="dcsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="DishSubCategory" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Dish Sub Category</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="scaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Dish Sub Category"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="scbody" class="card-body">
                        <div id="scsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridDishSubCategory"></div>
                        <div id="newDishSubCategory" style="display:none">
                            <div id="scerror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="scid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="scname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="scactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="sccancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="scsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-sm-12 connectedSortable" style="display:inherit; max-height:250px">
                <div id="ConceptType1" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Concept Type 1</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="ct1addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Concept Type 1"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="ct1body" class="card-body">
                        <div id="ct1success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridConceptType1"></div>
                        <div id="newConceptType1" style="display:none">
                            <div id="ct1error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="ct1id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="ct1name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="ct1active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="ct1cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="ct1submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ConceptType2" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Concept Type 2</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="ct2addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Concept Type 2"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="ct2body" class="card-body">
                        <div id="ct2success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridConceptType2"></div>
                        <div id="newConceptType2" style="display:none">
                            <div id="ct2error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="ct2id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="ct2name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="ct2active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="ct2cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="ct2submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ConceptType3" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Concept Type 3</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="ct3addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Concept Type 3"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="ct3body" class="card-body">
                        <div id="ct3success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridConceptType3"></div>
                        <div id="newConceptType3" style="display:none">
                            <div id="ct3error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="ct3id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="ct3name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="ct3active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="ct3cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="ct3submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ConceptType4" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Concept Type 4</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="ct4addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Concept Type 4"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="ct4body" class="card-body">
                        <div id="ct4success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridConceptType4"></div>
                        <div id="newConceptType4" style="display:none">
                            <div id="ct4error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="ct4id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="ct4name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="ct4active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="ct4cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="ct4submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- right col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit;max-height:250px">
                <div id="ConceptType5" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Concept Type 5</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="ct5addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Concept Type 5"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="ct5body" class="card-body">
                        <div id="ct5success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridConceptType5"></div>
                        <div id="newConceptType5" style="display:none">
                            <div id="ct5error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="ct5id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="ct5name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="ct5active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="ct5cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="ct5submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="SiteProfile1" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Site Profile 1</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="sp1addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Site Profile 1"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="sp1body" class="card-body">
                        <div id="sp1success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridSiteProfile1"></div>
                        <div id="newSiteProfile1" style="display:none">
                            <div id="sp1error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="sp1id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="sp1name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="sp1active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="sp1cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="sp1submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="SiteProfile2" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Site Profile 2</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="sp2addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Site Profile 2"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="sp2body" class="card-body">
                        <div id="sp2success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridSiteProfile2"></div>
                        <div id="newSiteProfile2" style="display:none">
                            <div id="sp2error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="sp2id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="sp2name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="sp2active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="sp2cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="sp2submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="SiteProfile3" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Site Profile 3</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="sp3addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Site Profile 3"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="sp3body" class="card-body">
                        <div id="sp3success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridSiteProfile3"></div>
                        <div id="newSiteProfile3" style="display:none">
                            <div id="sp3error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="sp3id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="sp3name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="sp3active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="sp3cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="sp3submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-sm-12 connectedSortable" style="display:inherit;max-height:250px">
                <div id="DietCategory" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Diet Category</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="dtaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Diet Category"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="dtbody" class="card-body">
                        <div id="dtsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridDietCategory"></div>
                        <div id="newDietCategory" style="display:none">
                            <div id="dterror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="dtid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="dtname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="dtactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="dtcancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="dtsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="DayPart" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Day Part</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="dpaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Day Part"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="dpbody" class="card-body">
                        <div id="dpsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridDayPart"></div>
                        <div id="newDayPart" style="display:none">
                            <div id="dperror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="dpid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="dpname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="dpactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="dpcancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="dpsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ItemType1" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Item Type 1</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="it1addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Item Type 1"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="it1body" class="card-body">
                        <div id="it1success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridItemType1"></div>
                        <div id="newItemType1" style="display:none">
                            <div id="it1error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="it1id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="it1name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="it1active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="it1cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="it1submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ItemType2" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Item Type 2</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="it2addnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Item Type 2"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="it2body" class="card-body">
                        <div id="it2success" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridItemType2"></div>
                        <div id="newItemType2" style="display:none">
                            <div id="it2error" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="it2id" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="it2name" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="it2active" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="it2cancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="it2submit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- right col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit;max-height:250px">
                <div id="Serveware" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Serveware</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="swaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Serveware"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="swbody" class="card-body">
                        <div id="swsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridServeware"></div>
                        <div id="newServeware" style="display:none">
                            <div id="swerror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="swid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="swname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="swactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="swcancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="swsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="UOM" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">UOM</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="umaddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New UOM"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="umbody" class="card-body">
                        <div id="umsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridUOM"></div>
                        <div id="newUOM" style="display:none">
                            <div id="umerror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="umid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="umname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="umactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="umcancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="umsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="Alergen" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Alergen</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="aladdnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Alergen"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="albody" class="card-body">
                        <div id="alsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridAlergen"></div>
                        <div id="newAlergen" style="display:none">
                            <div id="alerror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="alid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="alname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="alactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="alcancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="alsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ServingTemperature" class="col-lg-3 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Serving Temperature</h3>
                        <div class="card-tools" style="margin-top: -2px;">
                            <button id="staddnew" type="submit" class="btn btn-tool btn-xxs" data-toggle="tooltip" title="Add New Serving Temperature"
                                    data-widget="chat-pane-toggle">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="stbody" class="card-body">
                        <div id="stsuccess" class="alert alert-success alert-dismissible" style="display:none">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="padding-top: 0px;padding-right: 4px;">×</button>*@
                            <i class="icon alert-icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridServingTemp"></div>
                        <div id="newServingTemp" style="display:none">
                            <div id="sterror" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon alert-icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div class="row-card">
                                <label id="stid" style="display:none"></label>
                                <p style="margin-bottom:2px;font-size:12px">Name</p>
                                <input id="stname" class="form-control" type="text" placeholder="Input Name" required />
                            </div>
                            <div class="row-card">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <p style="margin-bottom:2px;font-size:12px">Status</p>
                                        <label class="switch">
                                            <input id="stactive" type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="margin-left:5px;">
                                    <div class="form-group" style="display:flex">
                                        <button type="submit" id="stcancel" class="btn btn-default">Cancel</button>
                                        <button type="submit" id="stsubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>