﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        GetEmployeeDataList: "@Url.Action("GetEmployeeDataList", "Employee")",
        GetCostCenterMasterDataList: "@Url.Action("GetCostCenterMasterDataList", "Employee")",
        GetProfitCenterMasterDataList: "@Url.Action("GetProfitCenterMasterDataList", "Employee")",
        SaveEmployeeDataList: "@Url.Action("SaveEmployeeDataList", "Employee")",
        SaveEmployeeData: "@Url.Action("SaveEmployeeData", "Employee")",
        ExportITILiteData: "@Url.Action("ExportITILiteData", "Employee")"
    }

</script>


<script src="~/Scripts/CookBook/ITILiteMaster.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .direct-chat .card-body {
        overflow-x: inherit !important;
    }

    .k-dropdown .k-input {
        text-align: left !important;
    }

   /* #gridITILite {
        width: 2000px !important;
        overflow-x: scroll !important;
    }*/

    #gridBulkChange .k-grid-header-wrap {
        overflow-x: scroll !important;
    }

    .k-grid-content.k-auto-scrollable {
        height: 550px !important;
        max-height: 550px !important;
    }

</style>
@{
    ViewBag.Title = "ITILite Master";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <div class="card-tools" style="margin-top: -6px;width: 715px;">

                            <span style="float:left" class="dashboarddetailsearch">
                                @*<input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                      <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>*@
                                <input type="text" id="myInput" placeholder="Search" class="search-input" style="position: relative; padding-left: 25px; height: 25px !important;">
                                <i class="fas fa-search" style="position: relative; left: 20px; font-size: 0.8em; color: #76b4b0; z-index: 1; top: 5px !important; opacity: 1;"></i>
                            </span>
                            @*<button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px; display:none;margin-left: 126px;">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px; display:none;">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>*@
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px;float: right;">
                                Export
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="gridBulkChange"></div>
                        <div id="gridITILite"></div>
                        <div id="windowEditITILite">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-3">
                                        <label class="form-control-label">Employee Code</label>
                                        <label id="employeecode" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Employee First Name</label>
                                        <label id="employeefirstname" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Employee Last Name</label>
                                        <label id="employeelastname" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Email Id</label>
                                        <label id="emailid" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-3">
                                        <label class="form-control-label">Contact Number</label>
                                        <label id="contactnumber" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Employee Level</label>
                                        <label id="employeelevel" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Date of Birth</label>
                                        <label id="dob" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Gender</label>
                                        <label id="gender" class="form-control-plaintext"></label>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-3">
                                        <label class="form-control-label">Entity</label>
                                        <label id="entity" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Derived</label>
                                        <label id="derived" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Department</label>
                                        <label id="department" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control-label">Designation</label>
                                        <label id="designation" class="form-control-plaintext"></label>
                                    </div>
                                </div>

                                <div class="row">
                                  
                                    <div class="col-3">
                                        <label class="form-control-label">Domestic Trip Approver 2 </label>
                                        <label id="DomesticTripApprover2" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-3">
                                        <label class="form-control-label">International Trip Approver 1</label>
                                        <label id="InternationalTripApprover1" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Approver 1</label>
                                        <label id="Approver1" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control-label">Approver 2</label>
                                        <label id="Approver2" class="form-control-plaintext"></label>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <label class="form-control-label">Compute</label>
                                        <label id="compute" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-8">
                                        <label class="form-control-label">Location</label>
                                        <label id="location" class="form-control-plaintext"></label>
                                    </div>


                                </div>


                                <div class="row">
                                    <div class="col-3">
                                        <label class="form-control-label">Domestic Trip Approver 1 </label>
                                        @*<div id="DomesticTripApprover1" class="form-control"></div>*@
                                        <label id="DomesticTripApprover1" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-3">
                                        <label class="form-control-label">Domestic Trip Approver 3 </label>
                                        @*<div id="DomesticTripApprover3" class="form-control"></div>*@
                                        <label id="DomesticTripApprover3" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">International Trip Approver 2 </label>
                                        @*<div id="InternationalTripApprover2" class="form-control"></div>*@
                                        <label id="InternationalTripApprover2" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">International Trip Approver 3 </label>
                                        @*<div id="InternationalTripApprover3" class="form-control"></div>*@
                                        <label id="InternationalTripApprover3" class="form-control-plaintext"></label>
                                    </div>

                                </div>

                                <div class="row">


                                    <div class="col-3">
                                        <label class="form-control-label">International Trip Approver 4 </label>
                                        @*<div id="InternationalTripApprover4" class="form-control"></div>*@
                                        <label id="InternationalTripApprover4" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-3">
                                        <label class="form-control-label">Domestic High Cost 1 </label>
                                        @*<div id="DomesticHighCost1" class="form-control"></div>*@
                                        <label id="DomesticHighCost1" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-3">
                                        <label class="form-control-label">Domestic High Cost 2 </label>
                                        @*<div id="DomesticHighCost2" class="form-control"></div>*@
                                        <label id="DomesticHighCost2" class="form-control-plaintext"></label>
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control-label">Approver 3 </label>
                                        @*<div id="Approver3" class="form-control"></div>*@
                                        <label id="Approver3" class="form-control-plaintext"></label>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-3">
                                        <label class="form-control-label">Approver 4 </label>
                                        <label id="Approver4" class="form-control-plaintext"></label>
                                        @*<div id="Approver4" class="form-control"></div>*@
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Approver 5 </label>
                                        <label id="Approver5" class="form-control-plaintext"></label>
                                        @*<div id="Approver5" class="form-control"></div>*@
                                    </div>

                                    <div class="col-3">
                                        <label class="form-control-label">Approver 6 </label>
                                        <label id="Approver6" class="form-control-plaintext"></label>
                                        @*<div id="Approver6" class="form-control"></div>*@
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control-label">Default Currency </label>
                                        <label id="defaultCurrency" class="form-control-plaintext"></label>
                                        @*<input type="text" id="defaultCurrency" class="form-control" />*@
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-3">
                                        <label class="form-control-label">Nationality </label>
                                        <label id="nationality" class="form-control-plaintext"></label>
                                        @*<input type="text" id="nationality" class="form-control" />*@
                                    </div>


                                </div>


                                <div class="row" >
                                    <div class="col-8"></div>
                                    <div class="col-3">
                                        <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important; margin-top:0px !important">
                                            @*<button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>*@
                                            @*<button type="submit" id="btnClose" class="btn btn-info">Close</button>*@
                                            @*<button type="submit" id="btnSubmit" class="btn btn-info">Save</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>