﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        GetLeaderShipRoleDataList: "@Url.Action("GetLeaderShipRoleMasterDataList", "Employee")",
        SaveLeaderShipRoleData: "@Url.Action("SaveLeaderShipRoleData", "HRISMaster")",
    }
</script>
<script src="~/Scripts/CookBook/LeaderShipRole.js"></script>

@{
    ViewBag.Title = "Leadership Role";
}

<style>
    .popover {
        z-index: 120000 !important;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .k-icon .k-update {
        display: none !important;
    }

    .k-icon .k-cancel {
        display: none !important;
    }

    .k-icon .k-edit {
        display: none !important;
    }

    .k-button k-button-icontext k-primary k-grid-update {
        padding: 1px 6px 1px 6px !important;
    }

    .k-button .k-button-icontext .k-grid-edit {
        background-color: #72bbc4 !important;
        color: white !important;
    }


    .k-grid .k-grid-toolbar .k-grid-add .k-icon,
    .k-grid tbody .k-grid-edit .k-icon,
    .k-grid tbody .k-grid-update .k-icon,
    .k-grid tbody .k-grid-cancel .k-icon,
    .k-grid tbody .k-grid-delete .k-icon {
        display: none !important;
    }


    .k-grid .k-grid-toolbar .k-grid-add,
   
    .k-grid tbody .k-grid-update,
    .k-grid tbody .k-grid-delete {
        background-color: #72bbc4 !important;
        color: white !important;
        padding: 1px 6px 1px 6px !important;
    }

    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-cancel {
        background-color: #ecf0ef !important;
        color: #699e9b !important;
        padding: 1px 6px 1px 6px !important;
    }

    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-edit {
        color: #76b4b0 !important;
    }

</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="ColorMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;width: 715px;">
                            <span style="float:left" class="leadershiproledetailsearch">
                                @*<input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                    <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>*@
                                <input type="text" id="myInput" placeholder="Search" class="search-input" style="position: relative; padding-left: 25px; height: 25px !important;">
                                <i class="fas fa-search" style="position: relative; left: 20px; font-size: 0.8em; color: #76b4b0; z-index: 1; top: 5px !important; opacity: 1;"></i>
                            </span>
                            <div class="float-right">
                                <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="padding-top:7px">
                                    Export To Excel
                                </button>
                                <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="margin-top:5px">
                                    Add New Leadership Role
                                </button>
                            </div>

                        </div>
                    </div>
                    <div id="leadershipid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="clbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridLeaderShipRole"></div>
                        <div id="windowEdit">
                            <div class="container">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row">

                                    <div class="col-12" style="margin-left: -9px; margin-top: 8px;">
                                        <label class="form-control-label">Leadership Role<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="leadershiprolename" class="form-control" />
                                    </div>
                                    <div class="col-12" style="display:none">
                                        <label class="form-control-label">Remark</label>
                                        <input type="text" id="remark" class="form-control" />
                                    </div>


                                </div>
                                <div class="row" style="margin-top:46px !important;">
                                    <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>