﻿<script>

    var HRISMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        UploadExcelsheet: "@Url.Action("UploadLensExcelsheet", "HRISMaster")",
        GetConsultantUploaderHISTORY: "@Url.Action("GetConsultantUploaderHISTORY", "HRISMaster")",
        GetLensUploaderData: "@Url.Action("GetLensUploaderData", "HRISMaster")",
        GetConsultantUploaderHISTORYByBatch: "@Url.Action("GetConsultantUploaderHISTORYByBatch", "HRISMaster")",
        ChangeStatusLens:"@Url.Action("ChangeStatusLens", "HRISMaster")",
        baseurl:"@System.Configuration.ConfigurationManager.AppSettings["ApplicationUrl"]"
    }
</script>
<script src="~/Scripts/CookBook/LensUploader.js"></script>
<style>
    .popover {
        z-index: 120000 !important;
    }

    .k-window {
        height: 140px !important;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .direct-chat .card-body {
        overflow-x: initial !important;
    }

    .form-label-consultant-uploader {
        /*display: block !important;*/
        width: 100% !important;
        padding-bottom: 0.075px !important;
        margin-bottom: 0 !important;
        color: #a0a6ab !important;
        background-color: transparent !important;
        border: solid transparent !important;
        border-width: 1px 0 !important;
        font-weight: 400 !important;
    }

    #GETALLPmViewALLHistoryBATCHWISE .k-grid-content.k-auto-scrollable, #gridConUpViewCustomHistory .k-grid-content.k-auto-scrollable {
        height: 280px !important;
    }
</style>
@{
    ViewBag.Title = "Uploader";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="pmviewhistorymain" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">


                    <div class="row" style="margin:10px">


                        <div class="col-10">
                            <div class="menuName">
                                <div><span id="inputdishname1"> </span></div>
                                <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                    <label class="form-label-consultant-uploader" style="font-size:0.965em!important" id="historytext">
                                        Batch Failed, Following records have the invalid/incorrect data. Refer below list and correct the data in excel and re-upload.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="col-2" style="margin-top: 10px; text-align: right;padding-right:8px;">
                            @*<button type="submit" id="APLMOGbtnback" onclick="back()" class="btn btn-success btn-xs">Back</button>
                                <button type="submit" id="ALLBATCHVIEW" onclick="AllViewBatch()" class="btn btn-success btn-xs">View All Batch(s)</button>*@
                            <button type="submit" id="Pmbtnback" class="btn btn-success btn-xs">Back</button>
                            <button type="submit" id="ALLBATCHVIEW" class="btn btn-success btn-xs">View All Batch(s)</button>
                        </div>


                    </div>

                    @*<div class="row" style="margin-top:10px">
                            <div class="col-12">

                                <div id="gridPMViewCustomHistoryDetails" style="max-height: 200px;margin-top: 24px;"></div>
                            </div>

                        </div>
                        <div class="row" style="margin-top:10px!important">


                        </div>*@



                    <div class="row" style="margin-top:10px">
                        <span style="float:left; margin-top:2px!important" id="batchsearch">
                            <input type="text" id="BatchmyInput" placeholder="Search" class="search-input" title="Start typing to filter" style="margin-right:9px;margin-bottom: 5px;">
                            <i class="fas fa-search" style="position: relative; right: -92%;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                        </span>
                        <div class="col-12">

                            <div id="gridConUpViewCustomHistory"></div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px">

                        <span style="float:left; margin-top:2px!important;display:none;" id="BATCHWISEearch">
                            <input type="text" id="BATCHWISEmyInput" placeholder="Search" class="search-input" title="Start typing to filter" style="margin-right:9px;margin-bottom: 5px;">
                            <i class="fas fa-search" style="position: relative; right: -92%;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                        </span>

                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="GETALLPmViewALLHistoryBATCHWISE"></div>
                        </div>

                    </div>



                </div>
                <div id="PMMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">

                        <div class="card-tools" style="margin-top: -6px;">

                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>

                            <button id="BtnExportTemp" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Download Template
                            </button>
                            <button id="Btnviewuploadhistory" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                View Upload History
                            </button>

                            @*<div style="float:left;margin-top: 8px;">
                                    <div id="ddTemplate"></div>
                                </div>*@
                            <button id="ExcelUpload" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                Upload Template
                            </button>



                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="gridLensUploader"></div>

                        <div id="UploadExcelFile">

                            <div class="container">
                                @*<div class="row">
                                        <div class="col-4">
                                            <div id="ddTemplate1"></div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="form-control-label" style="padding-top:-2px;margin-left:8px;margin-bottom:0px!important;" id="uploaderText"> Please select a template to upload</div>
                                </div>

                                <div class="row">
                                    <div class="col-4" id="EXclpmCodeDiv" style="min-width:85px!important">
                                        <input type="file" id="file" class="form-control-file" accept=".xlsx,.xls,.json,.csv" style="font-size:0.8em" />
                                    </div>
                                </div>
                                <div class="row" style="float:left;">
                                    <div class="col-11">
                                        <button id="UploadPmExcel" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                                data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                            Upload File
                                        </button>
                                    </div>


                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<!--<section class="content">
    <div class="container-fluid">-->
<!-- Main row -->
<!--<div class="row">-->
<!-- Left col -->
<!--<section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">



    <div id="PMMaster">-->
<!-- /.card-header -->
<!--<div id="fpbody" class="col-lg-12 card direct-chat direct-chat-primary">



</div>-->
<!-- /.card-body -->
<!-- /.card-footer-->
<!--</div>
</section>-->
<!-- /.Left col -->
<!--</div>-->
<!-- /.row (main row) -->
<!--</div>--><!-- /.container-fluid -->
<!--</section>-->