﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "HRISMaster")",
        GetLocationDesignationMappingList: "@Url.Action("GetLocationDesignationMappingDataList", "HRISMaster")",
        SaveLocationDesignationData: "@Url.Action("SaveLocationDesignationData", "HRISMaster")",
        GetUniqueLocationAndDesignation:"@Url.Action("GetUniqueLocationAndDesignationData", "HRISMaster")",
    }
</script>
<script src="~/Scripts/CookBook/LocationDesignation.js"></script>

@{
    ViewBag.Title = "Leave Encashment";
}

<style>
    .k-multiselect-wrap {
        min-height: 33px !important;
    }
    .k-multiselect-wrap {
        background-color: #ffffff !important;
        color: #2e2e2e !important;
        min-height: 2.04em;
    }
    .popover {
        z-index: 120000 !important;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .k-icon .k-update {
        display: none !important;
    }

    .k-icon .k-cancel {
        display: none !important;
    }

    .k-icon .k-edit {
        display: none !important;
    }

    .k-button k-button-icontext k-primary k-grid-update {
        padding: 1px 6px 1px 6px !important;
    }

    .k-button .k-button-icontext .k-grid-edit {
        background-color: #72bbc4 !important;
        color: white !important;
    }


    .k-grid .k-grid-toolbar .k-grid-add .k-icon,
    .k-grid tbody .k-grid-edit .k-icon,
    .k-grid tbody .k-grid-update .k-icon,
    .k-grid tbody .k-grid-cancel .k-icon,
    .k-grid tbody .k-grid-delete .k-icon {
        display: none !important;
    }


    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-update,
    .k-grid tbody .k-grid-delete {
        background-color: #72bbc4 !important;
        color: white !important;
        padding: 1px 6px 1px 6px !important;
    }

    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-cancel {
        background-color: #ecf0ef !important;
        color: #699e9b !important;
        padding: 1px 6px 1px 6px !important;
    }

    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-edit {
        color: #76b4b0 !important;
    }
    .k-grid-content.k-auto-scrollable {
        height:420px!important;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="ColorMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;width: 715px;">
                            @*<span style="float:left" class="locationdesignationdetailsearch">                               
                                <input type="text" id="myInput" placeholder="Search" class="search-input" style="position: relative; padding-left: 25px; height: 25px !important;">
                                <i class="fas fa-search" style="position: relative; left: 20px; font-size: 0.8em; color: #76b4b0; z-index: 1; top: 5px !important; opacity: 1;"></i>
                            </span>*@
                            <div class="float-right">
                                <span class="locationdesignationdetailsearch">
                                    <input type="text" id="myInput1" placeholder="Search" class="search-input" style="float:left;position: relative;  height: 28px !important;">
                                    <i class="fas fa-search" style="position: relative; left: -34px; font-size: 0.8em; color: #76b4b0; z-index: 1; top: 5px !important; opacity: 1;"></i>
                                </span>
                                <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="padding-top:7px">
                                    Export To Excel
                                </button>
                                <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="margin-top:5px">
                                    Add New
                                </button>
                            </div>

                        </div>
                    </div>
                    @*<div id="leadershipid" style="display:none;"></div>*@
                    <!-- /.card-header -->
                    <div id="clbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridLocationDesignation"></div>
                        <div id="windowEdit" style="min-height:177px!important;height:auto;">
                            <div class="container" style="padding-right: 17px !important; padding-left: 5px !important;">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row">

                                    @*<div class="col-12" style="margin-left: -9px; margin-top: 8px;">*@
                                    <div class="col-12" style=" margin-top: 8px;">
                                        <label class="form-control-label">Select Location<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputLocationdd" class="form-control" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px !important;">
                                    <div class="col-12">
                                        <label class="form-control-label">Select Designation</label>
                                        <input style="height: 34px !important;" type="text" id="inputDesignationmulti" class="form-control" />
                                    </div>
                                </div>
                                @*<div class="row" style="margin-top:46px !important;">*@
                                <div class="row" style="margin-top:25px !important;    margin-bottom: 20px!important;">
                                    <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>